:root {
    --primary-color-1 : #89d3ee;
    --primary-color-2 : #FACE68;
    --secondary-color : #2b608b;
    --accent-color-1 : #FF9587;
    --accent-color-2 : #BA487F;
}

* {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
    box-sizing: border-box;
    vertical-align: top;
}



body {
    background-color: var(--primary-color-1);
    padding: 20px;
}

h1 {
    font-size: 56px;
    font-weight: 500;
    margin: 20px;
}

button {
    width: 100px;
    height: 40px;
    color: var(--accent-color-2);
    background-color: var(--accent-color-1);
    border: 1px solid  var(--accent-color-2);
    border-radius: 10px;
    font-size: 30px;
}

button:hover {
    color: var(--accent-color-1);
    background-color: var(--accent-color-2);
    border: 1px solid  var(--accent-color-2);
}

button:active {
    border: 3px solid  var(--accent-color-1);
}

input {
    width: 200px;
    height: 40px;
    margin: 0px 20px;
    background-color: var(--primary-color-2);
    border-radius: 10px;
    border: 1px solid var(--accent-color-2);
    font-size: 22px;
}

#messageBox {
    width: 350px;
}

input:focus {
    outline: none;
}

.statusIndicator {
    height: 20px;
    width: 20px;
    background-color: rgb(92, 92, 92);
    border-radius: 50%;
    border: 2px solid var(--accent-color-1);
}

#chatContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
}

#sidebar {
    flex-grow: 1;
    padding: 0px;
    list-style: none;
    max-width: 200px;
}

#sidebar li {
    display: flex;
    align-items: center;   /* ← vertical centering */
    gap: 8px;              /* spacing between dot & text */
    margin: 5px;
    font-size: 25px;
}

#chat {
    flex-grow: 2;
}

#chatWindow {
    background-color: var(--primary-color-2);
    padding: 10px 20px;
    border-radius: 10px;
    min-height: 300px;
    max-height: 500px;
    position: relative;
    overflow: auto;
}

#chatWindow::-webkit-scrollbar {
    background-color: var(--primary-color-2);
    width: 10px;
    border-radius: 10px;
}

#chatWindow::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.message {
    list-style: none;
    width: fit-content;
    min-width: 150px;
    min-height: 45px;
    max-width: 80%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid var(--accent-color-2);
    border-radius: 10px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.self {
    background-color: var(--secondary-color);
    color: var(--primary-color-1);
    border-radius: 10px 10px 0px 10px;
    left: 100%;
    transform: translate(-100%);
    animation: popin-self 0.2s 1 normal;
}

@keyframes popin-self {
    0% {
        transform: translate(-100%) scale(0);
    }
    100% {
        transform: translate(-100%) scale(1);
    }
}

.other {
    border-radius: 10px 10px 10px 0px;
    background-color: var(--primary-color-1);
    animation: popin-other 0.2s 1 normal;

}

@keyframes popin-other {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.self .sender {
    color: var(--accent-color-1);
    margin: 0px 5px;
}
.other .sender {
    color: var(--accent-color-2);
    margin: 0px 5px;
}

.timeStamp {
    color: var(--accent-color-1);
    position: absolute;
    right: 5px;
    bottom: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

.other .timeStamp {
    color: var(--accent-color-2);
}

#newMessageNotif {
    list-style: none;
    height: 20px;
    width: 20px;
    background-color: var(--accent-color-1);
    border-radius: 50%;
    border: 1px solid var(--accent-color-2);
    position: sticky;
    z-index: 5;
    top: calc(100% - 20px); 
    transform: scale(0);
    transition: transform 0.25s;
}


#roomID, #myName, #hostName {
    position: absolute;
    top: 80px;
    right: 100px;
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
}

#myName {
    top: 50px;
}

#hostName {
    top: 110px;
}

.container {
    width: 330px;
    background-color: #fff3;
    padding: 20px 0px 0px 0px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 25px;
}

.container button {
    margin: 10px;
}

.subContainer {
    background-color: #fff3;
    border-radius: 10px;
    margin: 20px;
}

.subContainer p {
    color: var(--accent-color-2);
    margin: auto 10px auto 10px;
    font-size: 33px;
}

